<!--Footer-->
<div id="footer">
  <footer class="bg-dark text-center text-white">
    <!-- Grid container -->
    <div class="container p-4 pb-0">
      <ul>
        <!-- Logo -->
        <li>
          <a href="index.html"><img src="assets/logoCircular.png" class="img-fluid" /></a>
        </li>
        <!-- Facebook -->
        <li>
          <a href="https://www.facebook.com" target="_blank"><img src="assets/facebook.png" /></a>
        </li>
        <!-- Instagram -->
        <li>
          <a href="https://www.instagram.com" target="_blank"><img src="assets/instagram.png" /></a>
        </li>

        <li>
          <!-- Ifood -->
          <a href="https://www.ifood.com.br" target="_blank"><img src="assets/ifood.png" /></a>
        </li>
      </ul>
    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
      © 2022 Copyright:
      <a class="text-white" href="index.html">ebacana.com</a>
    </div>
    <!-- Copyright -->
  </footer>
  <!--//Footer-->
</div>