<div id="info" class="block pt-3">
  <div class="container content">
    <div class="row">
      <div class="col-md-7 text-center align-self-center order-md-1 order-2">
        <img src="assets/entrada.jpg" class="content-img" />
      </div>
      <div class="col-md-4 align-self-center mb-md-0 mb-3 order-md-2 order-1">
        <h2 class="title mt-md-0 mt-2">estamos localizados</h2>
        <h4 class="subtit">
          Rua Dr. Rafael Sales de Oliveira, Nº 951 - Bonfim, Campinas - SP
        </h4>
        <a href="https://goo.gl/maps/WHpeGyFrgqkt6K3a6" target="_blank"
          class="btn button-primay-outline btn-outline-secondary button d-md-inline-block d-block">Mapa</a>
        <p>
          <br />
          O restaurante e lanchonete É Bacana está localizado na cidade de
          Campinas - SP, no bairro Bonfim, próximo ao castelo.
        </p>
      </div>
    </div>
    <br />
  </div>
</div>
<!--//Endereço-->

<!--Serviços-->
<div id="service" class="block">
  <div class="container">
    <div class="align-self-center mb-md-0 mb-4 order-1">
      <h2 class="title mt-md-0 mt-2">nossos serviços</h2>
    </div>
  </div>

  <div class="row content">
    <div class="col-md-4 align-self-center mb-md-0 mb-4 order-1">
      <h2 class="title mt-md-0 mt-2">café da manhã</h2>
      <a href="#">
        <img src="assets/paonaChapa.jpg" class="content-serv" />
      </a>
    </div>

    <div class="col-md-4 align-self-center mb-md-0 mb-4 order-1">
      <h2 class="title mt-md-0 mt-2">almoço</h2>
      <a href="#">
        <img src="assets/strogonnof.jpeg" class="content-serv" />
      </a>
    </div>

    <div class="col-md-4 align-self-center mb-md-0 mb-4 order-1">
      <h2 class="title mt-md-0 mt-2">lanches e porções</h2>
      <a href="#">
        <img src="assets/porcaoTilapia.jpg" class="content-serv" />
      </a>
    </div>
  </div>
</div>
<!--//Serviços-->

<!--JS
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
    integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
    crossorigin="anonymous"></script>
  <script src="js/bootstrap.min.js"></script>
  -->