<!--cafe da manha-->
<div class="container content">
  <div class="row">
    <div class="col-md-12 align-self-center mb-md-0 mb-3 order-2">
      <h1 class="title"><br />CAFÉ DA MANHÃ</h1>
    </div>
  </div>

  <div class="container pt-4 opcao">
    <div class="row">
      <div class="col-md-5 align-self-center mb-md-0 mb-3 order-2">
        <h2 class="subtit"><br />Cappucino</h2>
      </div>
      <div class="col-md-4 align-self-center mb-md-0 mb-3 order-2">
        <h2 class="subtit"><br />R$ 08,00</h2>
      </div>
      <div class="col-md-3 align-self-center text-center">
        <img src="assets/cappucino.jpg" class="opcao-img order-2" />
      </div>
    </div>
  </div>

  <div class="container pt-5 opcao">
    <div class="row">
      <div class="col-md-5 align-self-center mb-md-0 mb-3 order-2">
        <h2 class="subtit"><br />Pão na Chapa</h2>
      </div>
      <div class="col-md-4 align-self-center mb-md-0 mb-3 order-2">
        <h2 class="subtit"><br />R$ 04,00</h2>
      </div>
      <div class="col-md-3 align-self-center text-center">
        <img src="assets/paonaChapa.jpg" class="opcao-img order-2" />
      </div>
    </div>
  </div>

  <div class="container pt-5 opcao">
    <div class="row">
      <div class="col-md-5 align-self-center mb-md-0 mb-3 order-2">
        <h2 class="subtit"><br />Misto Quente</h2>
      </div>
      <div class="col-md-4 align-self-center mb-md-0 mb-3 order-2">
        <h2 class="subtit"><br />R$ 08,00</h2>
      </div>
      <div class="col-md-3 align-self-center text-center">
        <img src="assets/mistoQuente.jpg" class="opcao-img order-2" />
      </div>
    </div>
  </div>

  <div class="container pt-5 opcao">
    <div class="row">
      <div class="col-md-5 align-self-center mb-md-0 mb-3 order-2">
        <h2 class="subtit"><br />Lanche Natural</h2>
      </div>
      <div class="col-md-4 align-self-center mb-md-0 mb-3 order-2">
        <h2 class="subtit"><br />R$ 14,90</h2>
      </div>
      <div class="col-md-3 align-self-center text-center">
        <img src="assets/lancheNatural.jpg" class="opcao-img order-2" />
      </div>
    </div>
  </div>
  <!--cafe da manha-->

  <!--almoço-->
  <div class="container pt-5">
    <div class="row">
      <div class="col-md-12 align-self-center mb-md-0 mb-3 order-2">
        <h1 class="title"><br />ALMOÇO</h1>
      </div>
    </div>
  </div>

  <div class="container pt-4 opcao">
    <div class="row">
      <div class="col-md-5 align-self-center mb-md-0 mb-3 order-2">
        <h2 class="subtit"><br />Rabada</h2>
      </div>
      <div class="col-md-4 align-self-center mb-md-0 mb-3 order-2">
        <h2 class="subtit"><br />R$ 24,90</h2>
      </div>
      <div class="col-md-3 align-self-center text-center">
        <img src="assets/rabada.jfif" class="opcao-img order-2" />
      </div>
    </div>
  </div>

  <div class="container pt-5 opcao">
    <div class="row">
      <div class="col-md-5 align-self-center mb-md-0 mb-3 order-2">
        <h2 class="subtit"><br />Feijoada</h2>
      </div>
      <div class="col-md-4 align-self-center mb-md-0 mb-3 order-2">
        <h2 class="subtit"><br />R$ 24,90</h2>
      </div>
      <div class="col-md-3 align-self-center text-center">
        <img src="assets/feijuca.jfif" class="opcao-img order-2" />
      </div>
    </div>
  </div>
  <div class="container pt-5 opcao">
    <div class="row">
      <div class="col-md-5 align-self-center mb-md-0 mb-3 order-2">
        <h2 class="subtit"><br />Contra Filé</h2>
      </div>
      <div class="col-md-4 align-self-center mb-md-0 mb-3 order-2">
        <h2 class="subtit"><br />R$ 24,90</h2>
      </div>
      <div class="col-md-3 align-self-center text-center">
        <img src="assets/contravdd.jpeg" class="opcao-img order-2" />
      </div>
    </div>
  </div>
  <div class="container pt-5 opcao">
    <div class="row">
      <div class="col-md-5 align-self-center mb-md-0 mb-3 order-2">
        <h2 class="subtit"><br />Strogonoff</h2>
      </div>
      <div class="col-md-4 align-self-center mb-md-0 mb-3 order-2">
        <h2 class="subtit"><br />R$ 24,90</h2>
      </div>
      <div class="col-md-3 align-self-center text-center">
        <img src="assets/strogo.jpeg" class="opcao-img order-2" />
      </div>
    </div>
  </div>
  <!--almoço-->

  <!--lanches e porçoes-->
  <div class="container pt-5">
    <div class="row">
      <div class="col-md-12 align-self-center mb-md-0 mb-3 order-2">
        <h1 class="title"><br />LANCHES E PORÇÕES</h1>
      </div>
    </div>
  </div>

  <div class="container pt-4 opcao">
    <div class="row">
      <div class="col-md-5 align-self-center mb-md-0 mb-3 order-2">
        <h2 class="subtit"><br />Frango Bacon</h2>
      </div>
      <div class="col-md-4 align-self-center mb-md-0 mb-3 order-2">
        <h2 class="subtit"><br />R$ 23,00</h2>
      </div>
      <div class="col-md-3 align-self-center text-center">
        <img src="assets/frangoBacon.jpeg" class="opcao-img order-2" />
      </div>
    </div>
  </div>

  <div class="container pt-5 opcao">
    <div class="row">
      <div class="col-md-5 align-self-center mb-md-0 mb-3 order-2">
        <h2 class="subtit"><br />Filé Baon</h2>
      </div>
      <div class="col-md-4 align-self-center mb-md-0 mb-3 order-2">
        <h2 class="subtit"><br />R$ 25,00</h2>
      </div>
      <div class="col-md-3 align-self-center text-center">
        <img src="assets/baon.jpg" class="opcao-img order-2" />
      </div>
    </div>
  </div>
  <div class="container pt-5 opcao">
    <div class="row">
      <div class="col-md-5 align-self-center mb-md-0 mb-3 order-2">
        <h2 class="subtit"><br />Bolinho de Mandioca C/ Calabresa</h2>
      </div>
      <div class="col-md-4 align-self-center mb-md-0 mb-3 order-2">
        <h2 class="subtit"><br />R$ 26,90</h2>
      </div>
      <div class="col-md-3 align-self-center text-center">
        <img src="assets/bolomandioca.jpeg" class="opcao-img order-2" />
      </div>
    </div>
  </div>
  <div class="container pt-5 opcao">
    <div class="row">
      <div class="col-md-5 align-self-center mb-md-0 mb-3 order-2">
        <h2 class="subtit"><br />Porção de Tilápia</h2>
      </div>
      <div class="col-md-4 align-self-center mb-md-0 mb-3 order-2">
        <h2 class="subtit"><br />R$ 30,00</h2>
      </div>

      <div class="col-md-3 align-self-center text-center">
        <img src="assets/tilapia.jpeg" class="opcao-img order-2" />
      </div>
    </div>
  </div>
  <!--lanches e porçoes-->
</div>
<!--//Slider-->

<br />
<div id="pedido" class="col-pb-3">
  <a routerLink="/Pedidos"
    class="col-lg-11 col-md-10 btn button-primay btn-primary button d-md-inline-block d-block mb-md-0 mb-2 mr-md-2">pedido</a>
</div>
<br /><br />