<div id="slider">
  <div class="container row content pt- block">
    <div class="col-md-12 col-11 align-self-center text-center">
      <h1 class="title">Horário de atendimento</h1>
    </div>
    <div class="col-md-6 text-center align-self-center mb-md-0 mb-3">
      <h5 class="mb-6 subtit">ALMOÇO</h5>
      <p>Segunda a Domingo das 11h00 ás 15h30</p>
    </div>
    <div class="col-md-6 align-self-center mb-md-0 mb-3">
      <h5 class="mb-6 subtit">JANTAR</h5>
      <p>Segunda a Sábado das 18h00 ás 22h00</p>
    </div>
    <div class="col-md-6 align-self-center mb-md-0 mb-3">
      <h5 class="mb-6 subtit">SÁBADOS</h5>
      <p>das 07h00 ás 22h00</p>
    </div>
    <div class="col-md-6 align-self-center mb-md-0 mb-3">
      <h5 class="mb-6 subtit">DOMINGOS e FERIADOS</h5>
      <p>das 07h00 ás 15h30</p>
    </div>
  </div>
</div>

<div class="container pt-2 content">
  <div class="row">
    <div class="col-md-12 align-self-center mb-md-0 mb-3">
      <h2 class="title">Delivery</h2>
      <div class="col-md-12 align-self-center mb-md-0 mb-3">
        <h4 class="subtit">Segunda á Sábado das: 07h00 ás 15h00</h4>
        <p>
          Fazemos entregas no raio de 10 km, nos consulte pelo WhatsApp para
          mais informações.
        </p>
      </div>
    </div>
  </div>
</div>

<div class="container pt-4">
  <div class="row">
    <div class="col-md-12 align-self-center mb-md-0 mb-3">
      <h5 class="text">Telefone: (19)98852-0117</h5>
    </div>
    <div class="col-md-12 align-self-center mb-md-0 mb-3">
      <h5 class="text">
        Dúvidas, sugestões ou mais informações, nos envie por e-mail:<br />
      </h5>
      <p class="text">
        E-MAIL:
        <a href="mailto:ebacanacontato@gmail.com">ebacanacontato@gmail.com</a>
      </p>
    </div>
  </div>
</div>