<!--Sobre-->
<div id="slider" class="block">
  <div class="container">
    <div class="row content">
      <div class="col-md-7 align-self-center text-center">
        <img src="assets/equipe.jpeg" class="content-img" />
      </div>
      <div class="col-md-5 text-center align-self-center mb-md-0 mb-3">
        <h1 class="title">Como tudo começou</h1>
        <p>
          Nossa história começa há muito tempo,
          um inicio de um sonho que está sendo
          realizado, com muita determinação e
          persistência. Um começo difícil, mas que serviu como
          aprendizado, e que nos deixou mais
          fortes.<br>Atenildo Ferreira e José Nascimento
          inauguraram o É bacana em 15 de abril de
          2021, os dois juntos trabalhavam sem
          parar, mesmo quando o rendimento era
          pouco. Hoje, continuam juntos, mas com uma
          equipe maior, que trabalha diariamente
          para entregar sempre o melhor para nosso
          público. Somos especializados na comida mineira
          e baiana, trazendo os sabores mais
          tradicionais e temperados do Brasil, além
          de trazermos deliciosos lanches com
          hambúrgueres artesanais, lanches na
          baguete e porções.
        </p>
      </div>

    </div>
  </div>
</div>
<!--//Sobre-->