:root {
    --primary: #98470d;
    --primary-medium: #e9ad72;
    --primary-light: #bd6627;
    --primary-dark: #7b3a0c;
    --secundary: #e7a563;
    --secundary-dark: #da954f;
    --tertiary: #89400c;
    --light: #f7c89a;
    --dark: #5f3314;
}