<div id="fundoIndex">
    <div id="header">
      <div class="container">
        <nav class="navbar navbar-expand-lg">
        <a class="navbar-brand" href="index.html">
          <img src="assets/logoCircular.png" id="logo"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" routerLink="/Slider">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/Sobre">Nossa História</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/Cardapio">Cardápio</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/Contato">Contato</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/Pedidos">Pedidos <img src="assets/entregador.png" height="25px"></a>
            </li>
          </ul>
        </div>
        </nav>
      </div>
    </div>
  
    <!--//Header-->

    <!--Slider-->
    
    <div id="slider" class="block">
      <div class="container pt-5 pb-5">
        <div class="row pt-5 pb-5">
          <div class="col-md-6 align-self-center mb-md-0 mb-3">
            <h1 class="tit">é bacana</h1>
            <h4 class="mb-4 subtit">restaurante e lanchonete</h4>
            <p>
              Especializados em trazer o melhor da comida brasileira.<br> Surpreenda-se com nossos sabores!
            </p>
            <a href="contato.html"
              class="btn button-primay btn-primary button d-md-inline-block d-block mb-md-0 mb-2 mr-md-2">Contato</a>
            <a href="https://www.google.com/" target="_blank"
              class="btn button-primay-outline btn-outline-secondary button d-md-inline-block d-block">Saiba mais</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <router-outlet></router-outlet>